<div class="container">
    <div class="row">
        <div *ngFor="let estate of viewModel">
            <div>
                <div class="estate-list estate-list--first">
                    <div class="estate-list-item-header estate-list-item-header--initializing">
                        <div class="estate-list-item-header-top">
                            <div class="estate-list-item-header-title">
                                
                                <div class="estate-list-item-header-title show-hand" (click)="goReadEstate(estate.Id)">
                                Se bolig
                                </div>                           
                            </div>
                            <div class="estate-list-item-header-category">
                                {{estate.EstateType}}
                            </div>
                            <div class="estate-list-item-header-category">
                                {{estate.Address1}}, {{estate.Zip}} {{estate.City}}
                            </div>
                            <div  class="estate-list-header-table-div">
                                <table class="estate-list-header-table">
                                    <tr>
                                        <td class="estate-list-item-header-areals-label">Areal</td>
                                        <td class="estate-list-item-header-areals"> {{estate.Areal}} m2</td>
                                    </tr>
                                    <tr>
                                        <td class="estate-list-item-header-areals-label">Vægtet Areal</td>
                                        <td class="estate-list-item-header-areals"> {{estate.VaegtetAreal}} m2</td>
                                    </tr>
                                    <tr>
                                        <td class="estate-list-item-header-areals-label">Grundareal</td>
                                        <td class="estate-list-item-header-areals"> {{estate.GrundAreal}} m2</td>
                                    </tr>
                                    <tr>
                                        <td class="estate-list-item-header-price-label">Pris</td>
                                        <td class="estate-list-item-header-price">  {{estate.Price}} kr.</td>
                                    </tr>
                                </table>
                            </div>

                        </div>                       
                    </div>
                   
                    <div class="estate-list-item-bottom flex">
                        <div class="flex__minimum">
                            <div class="estate-list-item-image"
                                style="background-image: url(https://localhost:44303/app-images/{{estate.ThumbNailFilePathAndName}})">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>