
.estate-list-item-header {
    display: flex;
    flex-direction: column;
    height: 170px;
    align-items: stretch;
    position: relative;
}
.estate-list-item-header-top {
    flex: 0;
}

.estate-list-item-header-title {
    margin: 0 0 2px;
}

.estate-list-item-header-category {
    margin: 0 0 5px;
    padding: 0px 16px;
    color: #8696A4;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.estate-list-header-table-div {
    margin: 0 0 5px;
    padding: 0px 16px;
}

.estate-list-header-table {
   width : 100%;
    }



.estate-list-item-header-areals{
    color: #000000;
    font-size: 12px;
   text-align: right;;
    letter-spacing: 1px;
  
}

.estate-list-item-header-areals-label{
    color: #8696A4;
    font-size: 12px;
    font-weight: bold;  
    letter-spacing: 1px;
    width : 50%;
}

.estate-list-item-header-price-label{
    color: #8696A4;
    font-size: 12px;
    font-weight: bold;  
    letter-spacing: 1px;
    width : 50%;
   
}
.estate-list-item-header-price{
    color: #000000;
    font-size: 12px;
   text-align: right;
    letter-spacing: 1px;
   
  
}

.estate-list-item-header-bottom {
    flex: 1;
    overflow: hidden;
}

.estate-list-item-description {
    margin: 0 0 8px;
    padding: 0px 16px;
    color: #6A7782;
    position: relative;
    line-height: 20px;
    word-break: break-word;
}

.estate-list-item-image {
    width: 200px;
    height: 150px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;       
}

@media (min-width: 375px) {
    .estate-list-item-bottom.flex {
        flex-wrap: nowrap;
   }
    .estate-list-item-bottom.flex .flex__minimum {
        flex-basis: auto;
        margin-bottom: 0px;
   }
    .estate-list-item-bottom.flex .flex__minimum .estate-list-item-image {
        margin: 0 10px 0 0;
   }
    .estate-list-item-bottom.flex .flex__maximum {
        text-align: right;
   }
}

.estate-list-items {
    padding: 0px 16px;
    margin: 12px 0;
}

.estate-list-items + .quick-overview__items {
        margin-top: -8px;
    }

.estate-list-item {
        display: inline-block;
        border-radius: 4px;
        background-color: #F3F5F6;
        padding: 3px 8px;
        color: #282F36;
        font-size: 12px;
        font-weight: bold;
        position: relative;
    }
    
.estate-list-item + .quick-overview__item {
            margin-left: 4px;
        }


.estate-list {
    border-radius: 8px;
    background-color: #46424217;
    box-shadow: 0 4px 8px 0 rgba(134,150,164,0.21);
    display: inline-block;
    padding-bottom: 18px;
    margin-left : 15px;
    margin-bottom : 15px;
}

.estate-list-item-header-title div {
    color: #282F36;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 16px 16px 0;
}

    .estate-list-item-header-title div:hover {
        text-decoration: underline;
    }

    .flex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .flex--padded {
        padding: 0px 16px;
    }
    
    .flex__maximum {
        flex: auto;
    }
    
    .flex__minimum {
        flex: 0 0 auto;
        padding: 15px ;
    }
    
    .text-align-right {
        text-align: right;
    }
    
    .text-align-bottom {
        align-self: flex-end;
    }

    .estate-list-item-price-title {
        color: #8696A4;
    }

    .estate-list-item-price {
        color: #37424D;
        font-size: 22px;
        font-weight: 900;
    }
    
    .my-pagination /deep/ .ngx-pagination .current {
        background: rgb(94, 94, 94) ;
        border-radius: 4px ;
        padding-left: 9px ;
        padding-right: 9px ;
      }

      .my-pagination /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover  {
        background: #999595 ;
        border-radius: 3px ;
      
    }
    .show-hand:hover {
        cursor: pointer;
    }
    


    .btn.btn-primary {
        height: calc(1.5em + .75rem + 2px);
        border : 1px solid #ced4da;
        vertical-align: middle;
        text-align: center;
        line-height: 1.5;
        color: #000000;
       
        margin-right: 10px;
        background-color: transparent;
      }

    .search-hit {
        color : red;
    }

    .search-hit-divider {
        position: relative;
        display: block;
        width: 300px;
        min-height: 12px;
        font-size: 14px;
        line-height : 12px;
        font-weight: 400;
        text-align: left;
        color: #5a626b;
        background: #46424217;
        padding: 5px 5px 5px 5px;    
    }
  
    .search-hit-block { 
         
        position: relative;
        display: block;
        width: 300px;
        min-height: 12px;
        font-size: 14px;
        line-height : 12px;
        font-weight: 500;
        text-align: left;
        color: #5a626b;
        background: #46424217;
        padding: 5px 5px 5px 50px;    
    }
    .dummy {
       
        clear : left;
    }

    .filter-button {
        white-space: nowrap;
        display: block;
        position: relative;
        padding: 9px 14px;
        background-color: #fff;
        color: #000;
        border: 1px solid rgba(0,0,0,.12);
        border-radius: 3px;
        width: 70px;
        height: 30px;
        font-size: 10px;
        cursor: pointer;
    }

    .filter-dropdown-wrapper {
        position: absolute;
        z-index: 11;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 40px 65px rgba(0,0,0,.45);
        border: 1px solid rgba(0,0,0,.05);
        margin-top: 20px;
    }
   
     