<div class="container">


    <div style="float: left">
        <input type="text" class="form-control" placeholder="tast noget" style="width:300px"
            [(ngModel)]="searchString" />
    </div>
    <div style="float: left">
        <button class="btn btn-primary" type="button" (click)="filterEstates()">Søg</button>
    </div>


    <div *ngFor="let searchTerm of searchTerms" class="dummy">
        <div *ngIf="searchTerm.IsDivider" class="search-hit-divider">
            {{searchTerm.FoundInCategory}}:
        </div>
        <div *ngIf="!searchTerm.IsDivider" class="show-hand search-hit-block" (click)="setSearchTerm(searchTerm)">
            <span>{{searchTerm.TextBeforeHit}}</span>
            <span class="search-hit">{{searchTerm.TextHit}}</span>
            <span>{{searchTerm.TextAfterHit}}</span>
        </div>
    </div>



    <div style="clear : both">

        <button class="filter-button" type="button" (click)="ToogleSHowRoomSlider()">
            Værelser
            {{roomMinValue}} - {{roomMaxValue}}
        </button>

        <app-sliders *ngIf="sHowRoomSlider" [(estateValue)]="roomMinValue" [(estateMaxValue)]="roomMaxValue"
            [estateOptions]="roomOptions">
        </app-sliders>


        <button class="filter-button" type="button" (click)="ToogleshowEstateTypeSlider()">
            Boligtype
            type {{estateTypeStr}}
        </button>

        <app-sliders *ngIf="showEstateTypeSlider" [(estateValue)]="estateTypeValue" [estateOptions]="estateTypeOptions">
        </app-sliders>

        <button class="filter-button" type="button" (click)="ToogleSHowPriceSlider()">
            Pris
            {{priceToMillionsOptions.floor}} {{priceFromToString}}  
        </button>

       
            <app-sliders *ngIf="sHowPriceSlider" [(estateValue)]="priceFromMillionsMinValue"
                [estateOptions]="priceFromMillionsOptions">
            </app-sliders>
        
        
            <app-sliders *ngIf="sHowPriceSlider" [(estateValue)]="priceFrom100KMinValue"
                [estateOptions]="priceFrom100KOptions">
            </app-sliders>
      
       
            <app-sliders *ngIf="sHowPriceSlider" [(estateValue)]="priceToMillionsMinValue"
                [estateOptions]="priceToMillionsOptions">
            </app-sliders>
        
            <app-sliders *ngIf="sHowPriceSlider" [(estateValue)]="priceTo100KMinValue"
                [estateOptions]="priceTo100KOptions">
            </app-sliders>
        

    </div>


    <div class="row">
        <div
            *ngFor="let estate of filteredEstates | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:Count }">
            <div>
                <div class="estate-list estate-list--first">
                    <div class="estate-list-item-header estate-list-item-header--initializing">
                        <div class="estate-list-item-header-top">
                            <div class="estate-list-item-header-title">

                                <div class="estate-list-item-header-title show-hand" (click)="goReadEstate(estate.Id)">
                                    Se bolig
                                </div>
                            </div>
                            <div class="estate-list-item-header-category">
                                {{estate.EstateType}}
                            </div>
                            <div class="estate-list-item-header-category">
                                {{estate.Address1}}, {{estate.Zip}} {{estate.City}}
                            </div>
                            <div class="estate-list-header-table-div">
                                <table class="estate-list-header-table">
                                    <tr>
                                        <td class="estate-list-item-header-areals-label">Areal</td>
                                        <td class="estate-list-item-header-areals"> {{estate.Areal}} m2</td>
                                    </tr>
                                    <tr>
                                        <td class="estate-list-item-header-areals-label">Vægtet Areal</td>
                                        <td class="estate-list-item-header-areals"> {{estate.VaegtetAreal}} m2</td>
                                    </tr>
                                    <tr>
                                        <td class="estate-list-item-header-areals-label">Grundareal</td>
                                        <td class="estate-list-item-header-areals"> {{estate.GrundAreal}} m2</td>
                                    </tr>
                                    <tr>
                                        <td class="estate-list-item-header-price-label">Pris</td>
                                        <td class="estate-list-item-header-price"> {{estate.Price}} kr.</td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="estate-list-item-bottom flex">
                        <div class="flex__minimum">
                            <div class="estate-list-item-image"
                                style="background-image: url(https://localhost:44303/app-images/{{estate.ThumbNailFilePathAndName}})">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<pagination-controls (pageChange)="onPageChange($event)" class="my-pagination" previousLabel="Forrige"
    nextLabel="Næste"></pagination-controls>