<h2>Dokumenter</h2>
<div *ngFor="let downloadFile of downloadFiles let i = index">
    <div class="list-group-item" (click)="showMenu(i)">
        {{downloadFile.id}}  {{downloadFile.documentDescription}}
        <div *ngIf="downloadFile.id == selectedId" id="{{downloadFile.id}}">
            <span class="minimenu" (click)="downLoadDocument(i)">
                Download
            </span>

            <span class="minimenu" (click)="viewDocument(i)">
                vis
            </span>

            <span class="minimenu" (click)="deleteDocument(i)">
                Slet
            </span>
        </div>
    </div>
    <br>
</div>
<button class="btn btn-outline-secondary btn-sm" type="button" (click)="addDocument()">Tilføj dokument</button>