    <div class="row">
        <div class="col-6">
            <h1>Dokumenter</h1>
            <div *ngFor="let downloadFile of downloadFiles let i = index" >
                <div id="{{downloadFile.id}}" >
                    "{{downloadFile.uniqueFileName}}  
                    <button class="btn btn-primary" type="button" (click)="downLoadDocument(i)">Download</button>    
                    <button class="btn btn-primary" type="button" (click)="viewDocument(i)">Se i browser</button>    
                </div>       
            </div>
        </div>             
    </div>

    <app-upload-file></app-upload-file>
