
    <div class="panel-heading">
        <h3 class="panel-title">{{viewModel.email}}</h3>
    </div>
    <div class="row">
        <div class="col-6">
           Navn
        </div>
        <div class="col-6">
            {{viewModel.fullName}}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Adresselinje1
        </div>
        <div class="col-6">
            {{viewModel.address1}}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Adresselinje 2
        </div>
        <div class="col-6">
            {{viewModel.address2}}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Postnummer
        </div>
        <div class="col-6">
            {{viewModel.zip}}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            By
        </div>
        <div class="col-6">
            {{viewModel.city}}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Telefon
        </div>
        <div class="col-6">
            {{viewModel.phone}}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Oprettet
        </div>
        <div class="col-6">
            {{viewModel.createdDate  | date:'dd-MM-yyyy Kl.: hh:mm'}}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Ændret
        </div>
        <div class="col-6">           
            {{viewModel.modifiedDate | date:'dd-MM-yyyy Kl.: hh:mm'}}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary" type="button" (click)="godEditProfile()">Rediger</button>
        </div>
        <div class="col-6">                     
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h1>Mine salg</h1>
            <div *ngFor="let estate of estates">
                <div class="show-hand" id="{{estate.Id}}" (click)="goReadEstate($event)">
                    {{estate.Address1}} {{estate.Zip}} {{estate.City}}          
                </div>       
            </div>
        </div>     
        <button class="btn btn-primary" type="button" (click)="createEstate()">Nyt salg</button>        
    </div>

   

    <div class="panel-footer">
       
      
      </div> 